<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOT Broker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        .node-card {
            width: 280px;
            height: 150px;
            border: solid 1px;
            border-radius: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-right: 50px;
            margin-right: 30px;
        }

        .refresh_btn {
            width: 100px;
            height: 40px;
            border-radius: 5px;
            margin-top: 20px;
            float: end;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center" style="padding-bottom: 10px">📡 IOT Broker</h2>
    <div id="statistics" style="display: flex;justify-content: space-between; margin-bottom: 20px">
        <div style="display: flex;justify-content: flex-start">
            <div class="node-card">
                <p style="margin-left: 30px;margin-top: 15px;font-size: 25px; font-weight: bolder">集群</p>
                <div style="padding-top: 1px">
                    <p style="text-align: right; margin-bottom:1px;font-weight: bold">--</p>
                </div>
            </div>
            <div class="node-card">
                <p style="margin-left: 30px;margin-top: 15px;font-size: 25px; font-weight: bolder">连接</p>
                <p style="text-align: right; margin-top:40px;font-size: 20px;font-weight: bold">总数: 0</p>
            </div>
            <div class="node-card">
                <p style="margin-left: 30px;margin-top: 15px;font-size: 25px; font-weight: bolder">订阅</p>
                <p style="text-align: right; margin-top:40px;font-size: 20px;font-weight: bold">总数: 0</p>
            </div>
        </div>
        <button class="refresh_btn" onclick="refreshAll()">刷新</button>
    </div>


    <table id="deviceTable" class="table table-striped mt-3">
        <input type="text" id="searchInput" style="width: 300px;border-radius: 5px"
               placeholder="输入终端 ID 进行搜索...">
        <button id="search" style="border-radius: 5px;margin-left: 3px" onclick="searchSessions()">search</button>
        <thead>
        <tr>
            <th>终端 ID</th>
            <th>状态</th>
            <th>用户名</th>
            <th>心跳</th>
            <th>会话状态</th>
            <th>连接时间</th>
            <th>节点ID</th>
            <th>IP地址</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    function refreshAll() {
        initStatistics();
        searchSessions();
    }

    function searchSessions() {
        let keyword = document.getElementById("searchInput").value;
        fetch(`/api/sessions/search?keyword=${keyword}`)
            .then(response => response.json())
            .then(data => {
                let dataRow = "";
                data.forEach(client => {
                    let onlineTime = formatDate(client.onlineTime)
                    let row = `<tr>
                        <td >${client.clientId}</td>
                        <td >已连接</td>
                        <td >${client.username}</td>
                        <td >${client.keepAlive}s</td>
                        <td >${client.cleanSession ? '临时会话' : '持久会话'}</td>
                        <td >${onlineTime}</td>
                        <td >${client.nodeId}</td>
                        <td >127.0.0.1[X]</td>
                    </tr>`;
                    dataRow += row;
                });
                document.querySelector("#deviceTable tbody").innerHTML = dataRow;
            });
    }

    function formatDate(time) {
        return new Date(time).toLocaleString().replace(/\//g, "-");
    }

    function getClusterList(callback) {
        fetch(`/api/node/list`)
            .then(response => response.json())
            .then(data => {
                callback(data)
            });
    }

    function getClientTotal(callback) {
        fetch(`/api/sessions/total`)
            .then(response => response.json())
            .then(data => {
                callback(data)
            });
    }

    function getSubscriptionTotal(callback) {
        fetch(`/api/subscriptions/total`)
            .then(response => response.json())
            .then(data => {
                callback(data)
            });
    }

    function initStatistics() {
        getClusterList(data => {
            // 更新集群列表
            const clusterContainer = document.querySelector('.node-card:first-child div');
            clusterContainer.innerHTML = ""; // 清空旧数据
            data.forEach(node => {
                const p = document.createElement('p');
                p.textContent = `${node.nodeId}`;
                p.style.textAlign = 'right';
                p.style.marginBottom = '1px';
                p.style.fontWeight = 'bold';
                clusterContainer.appendChild(p);
            });
        });
        getClientTotal(data => {
            // 更新连接总数
            document.querySelector('.node-card:nth-child(2) p:last-child').innerHTML = `总数: ${data}`;
        });
        getSubscriptionTotal(data => {
            // 更新订阅总数
            document.querySelector('.node-card:nth-child(3) p:last-child').innerHTML = `总数: ${data}`;
        });
    }

    refreshAll();
    // 启动定时任务刷新页面数据
    setInterval(() => refreshAll(), 10000)
</script>
</body>

</html>
